* {
    margin: 0;
    padding: 0;
}

/* Forms */
.form div {
    display: flex;
    justify-content: flex-start;
    margin-bottom: .5em;
}

.form div label {
    min-width: 150px;
    align-self: flex-start;
    margin-top: 5px;
}

input, textarea {
    border: 1px solid lightgray;
    padding: 3px;
}

input[type='checkbox'] {
    margin-top: 5px;
}

textarea {
    width: 300px;
    height: 100px;
}

header, footer {
    background: lightcyan;
}