* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    padding: 1em;
}

.nav {
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin-bottom: 1em;
}

.nav li {
    margin-right: 2em;
}

.flass-message {
    color: orange;
}

.show-item {
    display: flex;
    justify-content: flex-start;
    margin-bottom: .3em;
}

.show-label {
    flex-grow: 0;
    flex-shrink: 0;
    min-width: 150px;
}

.show-tags, .show-comments {
    margin-top: 1.5em;
}

/* Forms */
.form div {
    display: flex;
    justify-content: flex-start;
}

.form-item {
    margin-bottom: .5em;
}

.form div label {
    min-width: 150px;
    align-self: flex-start;
    margin-top: .2em;
}

input, textarea {
    border: 1px solid lightgray;
    padding: 3px;
}

input[type='checkbox'] {
    margin-top: 5px;
}

textarea {
    width: 300px;
    height: 100px;
}

.form-select-wrapper{
    flex-direction: column;
}

.form-select-item {
    flex-direction: row;
    margin-bottom: .3em;
}

.form-select input{
    margin-top: .1em;
    margin-right: .2em;
}

form div.form-types label {
    margin: 0;
}

form div.form-tags {
    margin-top: 1.5em;
}

form div.form-tags label {
    margin: 0;
}

.form-new-tag {
    margin-bottom: 1.5em;
}

header, footer {
    background: lightcyan;
}

.show-comments-wrapper {
    margin-bottom: .5em;
}

.show-comment {
    margin: 0 0 .5em 0;
}

h1 {
    margin-bottom: .5em;
}