<div class="full">
    <main class="main">
        <h1>Users</h1>
        <%@users.each { |user|%>
            <div><a href="/users/<%=user.id%>"><%=user.username%></a> - <%=user.email%></div>
        <%}%>
    </main>
</div>