<div class="full">
    <main class="main">
        <h2>Tags</h2>
        <% if !@tags.empty? %>
        <%@tags.each { |tag|%>
            <div><a href="/tags/<%=tag.id%>"><%=tag.name%></a> - <%=tag.game_count_display%></div>
        <%}%>
        <% else %>
            <div>No tags available</div>
        <% end %>
    </main>
</div>