<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Games Guide</title>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="../../../stylesheets/styles.css" />
</head>
<body>
    <header class="header">
        <div>Games Guide</div>
        <% if logged_in? %>
            <div>Current user: <%=current_user.username%></div>
        <% else %>
            <div>No one is logged in</div>
        <% end %>
        
        <ul class="nav">
            <li><a href="/">Home</a></li>
            <% if logged_in? %>
                
                <li><a href="/users">Users<a></li>
                <li><a href="/logout">Log out<a></li>
            <%else%>
                <li><a href="/games">Games<a></li>
                <li><a href="/tags">Tags<a></li>
                <li><a href="/login">Log in<a></li>
                <li><a href="/signup">Sign up</a></li>
            <% end %>
        </ul>

        <hr/>
    </header>
    
    <%= yield %>
    
    <footer class="footer">
        <hr/>
        &copy;<%=Time.new.year%> Games Guide
    </footer>
</body>
</html>