<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Games Guide</title>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="../../../stylesheets/styles.css" />
</head>
<body>
    <header class="header">
        <div class="header-content">
            <div class="nav-wrapper">
                <div class="nav-logo">
                    <div class="nav-title">Game Guide</div>
                </div>
                <div class="nav">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/games">Games</a></li>
                        <li><a href="/types">Game Types</a></li>
                        <li><a href="/tags">Game Tags</a></li>
                        <% if logged_in? %>
                            <li><a href="/users">Users</a></li>
                            <li><a href="/logout">Logout</a></li>
                        <% else %>
                            <li><a href="/login">Login</a></li>
                            <li><a href="/signup">Signup</a></li>
                        <% end %> 
                    </ul>
                </div>
            </div>
            <div class="header-welcome">
            <%if logged_in?%>Welcome, <a href='/users/<%=current_user.id%>'><%=current_user.username%></a>
            <%else%>
            &nbsp;
            <%end%>
            </div>
        </div>
    </header>
    <%= yield %>
    <footer class="footer">&copy;<%=Time.new.year%> Games Guide</footer>
</body>
</html>